<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="d-inline-flex p-2 collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li routerLink="inicio" class="nav-item">
            <a class="nav-link active" aria-current="page">Inicio</a>
          </li>

          <li routerLink="datos/empleados" class="nav-item">
            <a class="nav-link active">Empleados</a>
          </li>

          <li routerLink="turnos/pacientes" class="nav-item">
            <a class="nav-link active">Pacientes</a>
          </li>

          <li routerLink="turnos/consultas" class="nav-item">
            <a class="nav-link active">Consultas</a>
          </li>

          <li routerLink="datos/servicios" class="nav-item">
            <a class="nav-link active">Servicios</a>
          </li>

          <li routerLink="datos/puestos" class="nav-item">
            <a class="nav-link active">Puestos laborales</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>