<div class="row container mt-4">
    <div class=" col-3">
        <h2>Opciones</h2>
        <hr>

        <ul class="d-flex align-items-stretch list-group">
            <li class="list-group-item">Registro de puesto laboral</li>
            <li class="list-group-item">Registro de servicios</li>
        </ul>

    </div>

    <div class="col">
        <h2>Empleados</h2>
        <hr>
        <div>
            <form (ngSubmit)="buscar()">
                <input 
                    type="text"
                    name="cedula" 
                    class="form-control"
                    [(ngModel)]="cedula" 
                    placeholder="Buscar empleado...">
            </form>
        </div>

        <div
            *ngIf="hayError"  
            class="alert alert-danger">
            No se encontraron datos
        </div>
        <hr>
        <table class="flex-fill  table table-hover">

            <thead class="table-light">
                <tr>

                    <th>#</th>
                    <th>Nombre</th>
                    <th>Cedula</th>
                    <th>Puesto</th>
                    <th>Servicio</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let empleado of empleados; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{empleado.nombres}} {{empleado.apellidos}}</td>
                    <td>{{empleado.cedula}}</td>
                    <td>{{empleado.asignacion?.tipoEmpleado?.nombreTipo}}</td>
                    <td>{{empleado.servicio?.tipoServicio?.nombreServicio}}</td>
                    <td>
                        <button class="btn btn-primary" (click)="eliminar(empleado.cedula)"> 
                            <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                            </svg>
                        </button>
                    </td>
                    
                </tr>
            </tbody>

        </table>

        <div class="row">
            <form class="flex-fill" [formGroup]="form" (ngSubmit)="registrar()">
                <h2>ingrese datos del nuevo empleado</h2>
                <div class="mb-3 row input-group-text input-group-lg">

                    <input formControlName="nombres" 
                           type="text" 
                           class="form-control"
                           onkeydown="return /[a-z, ]/i.test(event.key)"
                           placeholder="Nombres">

                    <span class="form-text text-danger d-flex justify-content-start" 
                          *ngIf="campoEsValido('nombres')">
                        Ingrese los nombres del empleado
                    </span>

                    <input formControlName="apellidos" 
                           type="text" 
                           class="form-control"
                           onkeydown="return /[a-z, ]/i.test(event.key)"
                           placeholder="Apellidos">

                    <span class="form-text text-danger d-flex justify-content-start" 
                           *ngIf="campoEsValido('apellidos')">
                         Ingrese los apellidos del empleado
                     </span>

                     <input formControlName="cedula" 
                           type="text" 
                           class="form-control"
                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                           placeholder="Cedula">

                    <span class="form-text text-danger d-flex justify-content-start" 
                           *ngIf="campoEsValido('cedula')">
                           Ingrese la cedula del empleado
                     </span>

                </div>
                
                <div class="input-group-text input-group-lg">

                    <select [(ngModel)]="idTipoEmpleado" [ngModelOptions]="{standalone: true}">
                        <option value="" disabled selected>Puesto</option>
                        <option class="form-control"
                                *ngFor="let tipoEmpleado of tipoEmpleados"
                                [value]="tipoEmpleado.id">
                            {{tipoEmpleado.nombreTipo}}
                        </option>
                    </select>

                    <select [(ngModel)]="idServicio" [ngModelOptions]="{standalone: true}">
                        <option value="" disabled selected>Servicio</option>
                        <option class="form-control"
                                *ngFor="let tipoServicio of tipoServicios"
                                [value]="tipoServicio.id">
                            {{tipoServicio.nombreServicio}}
                        </option>
                    </select>
                </div>
                
                <div>
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </div>
            </form>
        </div>
        

    </div>
</div>

