<div class="row container mt-4">
    <div class=" col-3">
        <h2>Opciones</h2>
        <hr>

        <ul class="d-flex align-items-stretch list-group">
            <button (click)="abrirDialog()" class="btn btn-primary">Nuevo Empleado</button>
        </ul>

    </div>

    <div class="col">
        <h2>Empleados</h2>
        <hr>
        <div>
            <form (ngSubmit)="buscar()">
                <input type="text" name="cedula" class="form-control" [(ngModel)]="cedula"
                    placeholder="Buscar empleado...">
            </form>
        </div>

        <div *ngIf="hayError" class="alert alert-danger">
            No se encontraron datos
        </div>
        <hr>
        <div class="bg-light card">
            <div class="card-body">
                <div class="card-body">
                    <app-data-table 
                        [HeadArray]="headArray" 
                        [GridArray]="empleados"
                        (onEdit)="abrirDialogEditar($event)" 
                        (onDelete)="abrirDialogEliminar($event)">
                    </app-data-table>
                </div>
            </div>
        </div>
    </div>
</div>