<h2 mat-dialog-title>Ingresar datos del paciente</h2>

<div mat-dialog-content>
  <form class="flex-fill" [formGroup]="form" (ngSubmit)="registrar()">
    <div class="mb-3 row input-group-text input-group-lg">

      <input formControlName="nombres" type="text" class="form-control" onkeydown="return /[a-z, ]/i.test(event.key)"
        placeholder="Nombres">

      <span class="form-text text-danger d-flex justify-content-start" *ngIf="campoEsValido('nombres')">
        Ingrese los nombres del paciente
      </span>

      <input formControlName="apellidos" type="text" class="form-control" onkeydown="return /[a-z, ]/i.test(event.key)"
        placeholder="Apellidos">
      <span class="form-text text-danger d-flex justify-content-start" *ngIf="campoEsValido('apellidos')">
        Ingrese los apellidos del paciente
      </span>

      <input formControlName="cedula" type="text" class="form-control"
        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="Cedula">
      <span class="form-text text-danger d-flex justify-content-start" *ngIf="campoEsValido('cedula')">
        Ingrese la cedula del paciente
      </span>
    </div>

    <div mat-dialog-action>
      <button type="submit" class="btn btn-primary">Ingresar</button>
      <button mat-dialog-close class="btn btn-secondary" >Cerrar</button>
    </div>
  </form>
</div>