<div class="modal fade" data-bs-backdrop="static" id="formularioPacienteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ingrese un paciente</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="flex-fill" [formGroup]="form" (ngSubmit)="registrar()">
            <div class="mb-3 row input-group-text input-group-lg">
        
                <input formControlName="nombres" 
                       type="text" 
                       class="form-control"
                       onkeydown="return /[a-z, ]/i.test(event.key)"
                       placeholder="Nombres">
        
                <span class="form-text text-danger d-flex justify-content-start" 
                      *ngIf="campoEsValido('nombres')">
                    Ingrese los nombres del paciente
                </span>
        
                <input formControlName="apellidos" 
                       type="text" 
                       class="form-control"
                       onkeydown="return /[a-z, ]/i.test(event.key)" 
                       placeholder="Apellidos">
                <span class="form-text text-danger d-flex justify-content-start" 
                      *ngIf="campoEsValido('apellidos')">
                      Ingrese los apellidos del paciente
                </span>
        
                <input formControlName="cedula" 
                       type="text" 
                       class="form-control"
                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                       placeholder="Cedula">
                <span class="form-text text-danger d-flex justify-content-start" 
                      *ngIf="campoEsValido('cedula')">
                      Ingrese la cedula del paciente
                </span>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Ingresar</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </form>
        </div>
        
      </div>
    </div>
</div>

