<div class="row container mt-4">
    <div class="col-3">
        <h2>Opciones</h2>
    <hr>

        <ul class="d-flex align-items-stretch list-group">
            <li class="list-group-item">Nuevo servicio</li>
        </ul>

    </div>

    <div class="col">

        <h2>Servicios</h2>
        <hr>
        <table class="flex-fill table table-hover">

            <thead class="table-light">
                <tr>

                    <th>#</th>
                    <th>Nombre</th>
                    <th></th>
                    <th></th>
                    

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let servicio of servicios; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{servicio.nombreServicio}}</td>
                    <td>
                        <button class="btn btn-primary" (click)="editarServicio(servicio)"> 
                            <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-primary" (click)="eliminar(servicio.id)"> 
                            <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                            </svg>
                        </button>
                    </td>                
                </tr>
            </tbody>

        </table>

        <div class="row">
            <form class="flex-fill" [formGroup]="form" (ngSubmit)="registrar()">
                <h2>{{accion | uppercase}} nuevo servicio</h2>
                <div class="mb-3 row input-group-text input-group-lg">
                    <input formControlName="nombreServicio" type="text" class="form-control" placeholder="Nombre">
                    <span class="form-text text-danger d-flex justify-content-start" 
                          *ngIf="campoEsValido('nombreServicio')">
                        Ingrese el nombre del nuevo servicio
                    </span>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                </div>
            </form>
        </div>

    </div>
</div>