<div class="row container mt-4">
    <div class="col-3">
        <h2 class="text-white">Opciones</h2>
        <hr>

        <ul class="list-group">
            <button class="btn btn-dark" (click)="abrirDialog()">Agendar turno</button>
        </ul>

    </div>

    <div class="col">

        <h2 class="text-white">Consultas</h2>
        <hr>
        <div>
            <form (ngSubmit)="buscar()">
                <input type="text" name="cedula" class="form-control" [(ngModel)]="cedula"
                    placeholder="Buscar paciente...">
            </form>
        </div>
        <div *ngIf="hayError" class="alert alert-danger">
            No se encontraron datos
        </div>
        <hr>
        <app-data-table [data]="consultas" [columns]="tableColumns" (onEdit)="abrirDialogEditar($event)"
            (onDelete)="abrirDialogEliminar($event)" [config]="tableConfig">
        </app-data-table>

    </div>
</div>