<div class="card">
    <div class="card-body">
        <h2 mat-dialog-title class="text-center text-dark">Ingrese el nuevo Puesto laboral</h2>
        
        <form class="flex-fill" [formGroup]="form" (ngSubmit)="registrar()">
            <div class="mb-3 row input-group-text input-group-lg">
                <input formControlName="nombreTipo" type="text" class="form-control"
                    onkeydown="return /[a-z, ]/i.test(event.key)" placeholder="Nombre">
                <span class="form-text text-danger d-flex justify-content-start" *ngIf="campoEsValido('nombreTipo')">
                    Ingrese el nombre del nuevo servicio
                </span>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Ingresar</button>
                <button mat-dialog-close class="btn btn-secondary">Cancelar</button>
            </div>
        </form>
    </div>
</div>