<div class="row container mt-4">
    <div class="col-3">
        <h2 class="text-white">Opciones</h2>
        <hr>

        <ul class="d-flex align-items-stretch list-group">
            <button (click)="abrirDialog()" class="btn btn-dark">Nuevo puesto laboral</button>
        </ul>

    </div>

    <div class="col">
        <h2 class="text-white">Puestos laborales</h2>
        <hr>

                <app-data-table [data]="puestos" [columns]="tableColumns" (onEdit)="abrirDialogEditar($event)"
                (onDelete)="abrirDialogEliminar($event)" [config]="tableConfig">
            </app-data-table>

    </div>
</div>