@import '~@angular/material/prebuilt-themes/purple-green.css';

.img-container {
    text-align: center;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
